@tailwind base;
@tailwind components;
@tailwind utilities;


/*Cursor pointer management*/
.grabbed {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.painting {
  cursor: crosshair !important;
  cursor: -moz-crosshair;
  cursor: -webkit-crosshair;
}